In [16]:
import pandas as pd
pd.__version__

'2.2.2'

In [17]:
dados = {'Estado':['SC','RJ','TO','BA','MG'], 'Ano':[2004,2005,2006,2007,2008],'Taxa Desemprego':[1.5, 1.7, 1.6, 2.4, 2.7]}

In [18]:
from pandas import DataFrame
df = DataFrame(dados)
df.head()

  Estado   Ano  Taxa Desemprego
0     SC  2004              1.5
1     RJ  2005              1.7
2     TO  2006              1.6
3     BA  2007              2.4
4     MG  2008              2.7

In [19]:
DataFrame(dados, columns= ['Estado', 'Taxa Desemprego', 'Ano'])

  Estado  Taxa Desemprego   Ano
0     SC              1.5  2004
1     RJ              1.7  2005
2     TO              1.6  2006
3     BA              2.4  2007
4     MG              2.7  2008

In [20]:
df2 = DataFrame(dados,
                columns= ['Estado', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'],
                index = ['estado1','estado2','estado3','estado4','estado5'])
df2

        Estado  Taxa Desemprego Taxa Crescimento   Ano
estado1     SC              1.5              NaN  2004
estado2     RJ              1.7              NaN  2005
estado3     TO              1.6              NaN  2006
estado4     BA              2.4              NaN  2007
estado5     MG              2.7              NaN  2008

In [21]:
df2.filter(items = ['estado4'], axis = 0)

        Estado  Taxa Desemprego Taxa Crescimento   Ano
estado4     BA              2.4              NaN  2007

In [22]:
df2.describe()

       Taxa Desemprego          Ano
count         5.000000     5.000000
mean          1.980000  2006.000000
std           0.535724     1.581139
min           1.500000  2004.000000
25%           1.600000  2005.000000
50%           1.700000  2006.000000
75%           2.400000  2007.000000
max           2.700000  2008.000000

In [23]:
df2.isna()

         Estado  Taxa Desemprego  Taxa Crescimento    Ano
estado1   False            False              True  False
estado2   False            False              True  False
estado3   False            False              True  False
estado4   False            False              True  False
estado5   False            False              True  False

In [24]:
import numpy as np

df2['Taxa Crescimento'] = np.arange(5.)

df2

        Estado  Taxa Desemprego  Taxa Crescimento   Ano
estado1     SC              1.5               0.0  2004
estado2     RJ              1.7               1.0  2005
estado3     TO              1.6               2.0  2006
estado4     BA              2.4               3.0  2007
estado5     MG              2.7               4.0  2008

In [25]:
df2['Taxa Crescimento'].isna()

estado1    False
estado2    False
estado3    False
estado4    False
estado5    False
Name: Taxa Crescimento, dtype: bool

In [26]:
df2.describe()

       Taxa Desemprego  Taxa Crescimento          Ano
count         5.000000          5.000000     5.000000
mean          1.980000          2.000000  2006.000000
std           0.535724          1.581139     1.581139
min           1.500000          0.000000  2004.000000
25%           1.600000          1.000000  2005.000000
50%           1.700000          2.000000  2006.000000
75%           2.400000          3.000000  2007.000000
max           2.700000          4.000000  2008.000000

In [27]:
df2['estado2':'estado4']

        Estado  Taxa Desemprego  Taxa Crescimento   Ano
estado2     RJ              1.7               1.0  2005
estado3     TO              1.6               2.0  2006
estado4     BA              2.4               3.0  2007

In [28]:
df2[df2['Taxa Desemprego'] < 2]

        Estado  Taxa Desemprego  Taxa Crescimento   Ano
estado1     SC              1.5               0.0  2004
estado2     RJ              1.7               1.0  2005
estado3     TO              1.6               2.0  2006

In [29]:
df2[['Estado', 'Taxa Crescimento']]

        Estado  Taxa Crescimento
estado1     SC               0.0
estado2     RJ               1.0
estado3     TO               2.0
estado4     BA               3.0
estado5     MG               4.0

In [33]:
arq = pd.read_csv('dataset.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'dataset.csv'

In [ ]:
arq.head(5)

In [ ]:
arq.isna().sum()

In [ ]:
moda = arq['Quantidade'].value_counts().index[0]
print(moda)

In [ ]:
arq.fillna({'Quantidade': moda}, inplace= True)

In [ ]:
arq.isna().sum()

In [ ]:
np.Valor_Venda.describe()